.hero {
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

.hero button {
  width: 150px;
  padding: 10px;
  background: #fbc531;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}
