.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #0a3d62;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li {
  cursor: pointer;
}
